/* Custom CSS for YouTube Clone */
body {
    padding-top: 56px; /* Adjust to navbar height */
}

#menuCarousel .carousel-item {
    padding: 1rem;
}

#menuCarousel .btn {
    width: 100px;
    text-align: center;
}

.navbar-brand {
    margin-left: 15px;
}

.dropdown-toggle::after {
    display: none;
}

body {
    padding-top: 70px; /* Adjust the padding to prevent the content from being hidden behind the fixed navbar */
}

.card {
    cursor: pointer;
}

.card img {
    height: 180px;
    object-fit: cover;
}
